# Reporting Service Configuration
NODE_ENV=development

# gRPC Server
REPORTING_GRPC_URL=127.0.0.1:5003

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=reporting_db

# RabbitMQ
RABBITMQ_URL=amqp://localhost

# Logging
LOG_LEVEL=debug
